*.suo
*.ilk
*.obj
*.tlog
*.lastbuildstate
*.idb
*.filters
*.user
*.cache
TBGINTB_Framework/bin
TBGINTB_Framework/TBGINTB_Builder/bin
TBGINTB_Framework/TBGINTB_Builder/obj
TBGINTB_Framework/TBGINTB_Builder.Lib/bin
TBGINTB_Framework/TBGINTB_Builder.Lib/obj
TBGINTB_Framework/TBGINTB_Framework/bin
TBGINTB_Framework/TBGINTB_Framework/obj
TBGINTB_Framework/TBGINTB_Repository/bin
TBGINTB_Framework/TBGINTB_Repository/obj
TBGINTB_Framework/TBGINTB_RepositoryInterface/bin
TBGINTB_Framework/TBGINTB_RepositoryInterface/obj
TBGINTB_Framework/TBGINTB_Services/bin
TBGINTB_Framework/TBGINTB_Services/obj
TBGINTB_Framework/TBGINTBdb/bin
TBGINTB_Framework/TBGINTBdb/obj
TBGINTB_Framework/packages/AutoMapper.3.3.1/lib
TBGINTB_Framework/packages/AutoMapper.3.3.1/tools
TBGINTB_Framework/packages/EntityFramework.6.1.3/Content
TBGINTB_Framework/packages/EntityFramework.6.1.3/lib
TBGINTB_Framework/packages/EntityFramework.6.1.3/tools
TBGINTB_Framework/packages/Newtonsoft.Json.7.0.1/lib
TBGINTB_Framework/packages/Newtonsoft.Json.7.0.1/tools
TBGINTB_Framework/packages/FastMapper.1.2.0/lib
