<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="GinTubEntities" connectionString="metadata=res://*/Entities.Database.dboSchema.csdl|res://*/Entities.Database.dboSchema.ssdl|res://*/Entities.Database.dboSchema.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=GinTub;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="GinTub.Services.GinTubService" behaviorConfiguration="gintubServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="GinTub.Services.OperationContracts.IGinTubService" behaviorConfiguration="gintubEndpointBehavior" />
        <endpoint name="mexHttpBinding" address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!--service name="GinTub.Services.GinTubService" behaviorConfiguration="gintubServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="GinTub.Services.OperationContracts.IGinTubService" />
        <endpoint name="mexHttpBinding" address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service-->
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="gintubServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="gintubEndpointBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add scheme="http" binding="webHttpBinding" bindingConfiguration="" />
    </protocolMapping>
    <!--protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping-->
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>